In [1]:
import pandas as pd
from urllib.request import urlretrieve
from urllib.request import urlopen, Request

In [2]:
url = 'https://github.com/selimfirat/bilkent-turkish-writings-dataset/blob/master/data/texts.csv?raw=true'
urlretrieve(url, 'texts.csv')

('texts.csv', <http.client.HTTPMessage at 0x16f7b3380d0>)

In [3]:
data = pd.read_csv('texts.csv', sep=',', index_col=0, na_values='NaN')
data

                                                   text
0     BATUHAN ERDURCAN \r\n21301855 \r\nTURK 101-13 ...
1      \r\nYalçın Arslan \r\n21300458 \r\nAslı Uçar ...
2     Sudenur SOYSAL \r\nGÜZELLİK Mİ ÇİRKİNLİK Mİ HA...
3     Mars’ta Yaşam mı? \r\n \r\nHayatım boyunca evr...
4     Bir Şehrin İki Yakasında \r\n \r\n"İki büyük c...
...                                                 ...
6839  Dilruba Nilhan Kutlu \r\n \r\n \r\nHAMARAT BRA...
6840                                                ...
6841  Yumuşacık Bir Animasyon \r\nAnimasyona Giden Y...
6842  İlteriş Deniz Kağan CİVELEK    Türkçe 101 - 12...
6843  Altuğ Kaya\r\nTebessüm...\r\n \r\nhttp://www.d...

[6844 rows x 1 columns]

In [4]:
data.dropna(inplace=True)

In [5]:
def process(text):
    return ''.join([x for x in text.split('\n') if len(x.strip())>20]).replace('\r',' ')

In [6]:
data['text'] = data['text'].apply(process)

In [7]:
data.head()

                                                text
0  DEĞİŞEN EVRENSEL BİR İKON             Marilyn ...
1    Ben ölüm... Herkes korkar benden. Herkes tar...
2  GÜZELLİK Mİ ÇİRKİNLİK Mİ HAVUZ BAŞINDA MANKENL...
3  Hayatım boyunca evrende sadece Dünya’da yaşam ...
4  Bir Şehrin İki Yakasında "İki büyük cihanın ke...

In [16]:
data = data[(data['text'].apply(len) != 0)]

In [17]:
data['text'].apply(len).agg(['max', 'min', 'median', 'mean'])

max       17457.000000
min          24.000000
median     4159.000000
mean       4390.104862
Name: text, dtype: float64

In [19]:
data['text'].str.split().apply(len).agg(['max', 'min', 'median', 'mean'])

max       1881.000000
min          1.000000
median     546.000000
mean       572.309754
Name: text, dtype: float64

In [21]:
data[(data['text'].str.split().apply(len) == 1)]

                                                   text
2540  Cesaret,birinsanınyıllarboyuncahayalettiğibirş...
3113  AhmetCanKÜÇÜKKÖSELECİGELECEĞİMİZGEÇMİŞİMİZDİRP...
4767  ÇizgiliPijamalıÇocukfilmi,tümgerçekliğivekorku...
6779  İÇİMİZDEENÇOKYERKAPLAYANIMIZ,KALABALIĞIMIZ:YAL...